@font-face {
    font-family: Times;
    src: url(./assets/fonts/Times\ New\ Roman.ttf);
  }
  @font-face {
    font-family: Trebuchet;
    src: url(./assets/fonts/Trebuchet\ MS.ttf);
  }

  @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');
/* Not Chrome */
#notChrome{
    display: none;
    opacity: 0.96;
    background-image: url(./assets/img/chromeUse.png);
    /* background-color: #000; */
    position:fixed;
    width:100%;
    background-size: auto;
    height:100%;
    top:0px;
    text-align: center;
    left:0px;
    z-index:1000000;
    padding: 20%;
}
#notChrome .title{
    
font-size: 23px;
}
/* Loader Css */
#Loading{
    display: unset;
}
#page{
    display: none;
}
body{
    background: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
#imgBg{
    display: none;
}
.Loading .wiindow{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .Loading .container{
    width: 150px;
    height: 10px;
    border: 2px solid #b2b2b2;
    border-radius: 7px;
    margin: 0 auto;
    padding: 2px 1px;
    overflow: hidden;
    font-size: 0;
  }
  .Loading .box{
    width: 9px;
    height: 100%;
    background: linear-gradient(to bottom, #2838c7 0%,#5979ef 17%,#869ef3 32%,#869ef3 45%,#5979ef 59%,#2838c7 100%);
    display: inline-block;
    margin-right: 2px;
    animation: loader 2s infinite;
    animation-timing-function: linear;
  }
  .Loading .logo{
    width: 220px;
    margin: 50px auto;
  }
  .Loading .logo p{
    margin: 0;
    padding: 0;  
  }
  .Loading .top{
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
  }
  .Loading .top:after{
    content:"\00a9";
    font-size: 10px;
    position: relative;
    top: -5px;
    margin-left: 2px;
  }
  .Loading .mid{
    font-size: 46px;
    font-weight: 700;
    line-height: 36px;  
  }
  .Loading .mid span{
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    color: #FF6821;
    margin-top: -46px;
    margin-left: 91%;
  }
  .Loading .logo .bottom{
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 5px;
    
  }
  @keyframes loader{
    0%{
      transform: translate(-30px);
    }
    100%{
      transform: translate(150px);
    }
  }

  

/* Page Css */
img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.iconContainer{
    list-style: none;
    padding: 48% 0 0 23%;
}
.icon{
    display: block;
    text-align: center;
    margin-left: 16%;
}
.iconText{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-shadow: 0 0 1px #000;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 400;
    /* line-height: 8px; */
    list-style-position: outside;
    text-align: center;
    cursor: default;
    width: 100%;
}
#iconArea{
    margin-bottom: 50%;
    width: 100%;
    text-align: center;
}
#MaxW31{
    max-width: 31px;
}
#iconArea:hover{
    background: #0303e429;

}
.window{
    background: #ffffff;
    height: fit-content;
    position: absolute;
    cursor:default;
    color: #000;
}
.iconsCol{
    height: -webkit-fill-available;
}

.window h2 {
    font-size: 12px;
    line-height: 248%;
    color: #FFF;
    background-image: url(./assets/img/window_bar.png);
    margin: 0;
    text-shadow: 1px 1px 1px #000;
}
#internetWindow {
    left: 117px;
    margin-top: 7%;
    width: 82%;
}
.window h2 span {

    width: 26px;
    height: 29px;
    display: inline-block;
    float: left;
}
.window#internetWindow h2 span {
    background: url(./assets/img/window_corners3.png);
}
.window_control{
    background: transparent url(./assets/img/def-buts.png) no-repeat;
    padding: 0;
    width: 7.12%;
    height: 27px;
}
ul.window_control {
    right: -11px;
    top: 0;
    overflow: hidden;
    position: absolute;
}
ul.window_control li {

display: inline-block;

padding-top: 5px;
}
ul.window_control li a {
    width: 22px;
    height: 23px;
    padding-left: 8px;
    display: block;
    overflow: hidden;
    float: right;
}
ul.window_control li a span {
    /* width: 71%; */
    /* height: 100%; */
    /* display: block; */
    /* position: absolute; */
}
/* ul.window_control li.min a:hover span{
    background-position: -3px -30px;
} */
ul.window_control li.max a span {
    background-position: -264% 0;
}
ul.window_control li.closee a span {
    background-position: -127px 0px;
}
.windowBlueBorder {
    min-height: 100px;
    border: 3px solid #0831D9;
    border-top: none;
    /* height: 100%; */
    padding: 0;
}
ul.fileMenu {
    background-color: #F0F0E7;
    border-bottom: 1px solid #D8D2BD;
    display: block;
    margin: 0;
    padding: 0;
}
ul.fileMenu li {
    display: inline-block;
    padding: 0px 3px;
    list-style: none;
}
ul.fileMenu li a {
    display: inline-block;
    color: #000!important;
    padding: 2px 3px;
    letter-spacing: 0px;
    border: 1px solid #F0F0E7;
    font-size: 11px;
    /* padding: 0; */
    margin: 0;
    font-weight: 640;
}
ul.fileMenu li a:hover {
    border: 1px solid #D8D2BD;
    background-color: #FFF;
}
ul.fileMenu li.windowslogo {
    float: right;
    padding: 0;
}
.toolbar {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #D8D2BD;
    background-color: #EFEDE0;
    padding: 0 3px;
}
.toolbar a {
    display: inline-block;
    border: 1px solid #EFEDE0;
}
.toolbar a:hover {
    border: 1px solid #7A98AF;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.addressBar {
    background-color: #EFECDC;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #CDCABB;
    display: flex;
}
.addressBar span {
    display: inline-block;
    color: #7F7C73;
    padding: 0px 15px 0;
    letter-spacing: 0px;
    font-size: 12px;
}
.wrapAddressInput {
    border: 1px solid #7F9DB9;
    vertical-align: middle;
    width: 100%;
    height: 20px;
    display: flex;
    background-color: #fff;
    padding: 1px 0 0px 0;
}
.wrapAddressInput img {
    margin: 0 2px 0 5px;
    height: 16px;
}
#internetWindow .wrapAddressInput input {
    font-size: 11px;
}
.wrapAddressInput input {
    border: none;
    width: 100%;
    padding-left: 3px;
    height: 15px;
}
.dropdown-ico {
    width: 20px;
    height: 18px;
    background: url(./assets/img/dropdown-ico.png) no-repeat top center;
    margin: -1px -1px 0 0px;
    display: inline-block;
    vertical-align: middle;
}
.dropdown-ico:hover {
    background: url(./assets/img/dropdown-ico.png) no-repeat bottom center;
}
#internetWindow .greenGo {
    border-right: 1px solid #D8D2BD;
}
.greenGo {
    display: inline-block;
    vertical-align: middle;
    width: 65px;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    font-weight: 500;
}
.greenGo img {
    max-height: 19px;
    margin-right: 2px;
    vertical-align: middle;
    margin-left: 4px;
    margin-bottom: 2px;
}
.ieLinks {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    font-size: 14px;
    line-height: 20px;
    color: #7F7C73;
    border-left: 1px solid #FFF;
    padding: 1px 2px 1px 5px;
}
.ieLinks img {
    vertical-align: top;
    margin-top: 8px;
    margin-left: 5px;
}
.ie_inner{
    background: #ececec;
    border: 1px solid;
    margin: 1%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.web_header{
    padding: 0 35px;
}
.web_header p{display: inline-block;text-align: right;}
.web_header .en{
    font-family: 'Lobster', cursive;
    font-size: 4em;
    border-bottom: 1px;
    text-align: left;
}
.web_header .title{
    color: #FFBF00;
    text-align: center;
}
.goldenDivider{
    width: 40em;
    height: 2em;
    margin-left: 23%;
}
.card-title{
    
text-align: center;
    
font-size: 24px;
    
font-weight: 700;
    
border-bottom: 1px solid;
    
font-family: cursive;

}
#aboutMe{
    /* transform: translate(763px, 52px); */
    width: 51%;
}
#aboutMe .window_control{
    
width: 91.9px;
}
#aboutMe .addressBar input{
    font-size: 12px;
}
.window#aboutMe h2 span{
    background: url(./assets/img/window_corners2.png);
    width: 26px;
    height: 29px;
    display: inline-block;

}
#Contact{
    transform: translate(163px, 52px);
    width: 41%;
    display: none;
}
#Contact .window_control{
    
width: 14%;
    }
    .infoTxt p{
        display: inline;
    }
    .infoTxt .title{
        font-weight: 800;
    }
    .infoTxt{
        margin: 18px 0;
        padding: 12px 0;
        border-bottom: 1px solid #00000029;
    }
.window#Contact h2 span{
    background: url(./assets/img/window_corners2.png);
    width: 26px;
    height: 29px;
    display: inline-block;

}
.leftPanelPanel {
    border: 1px solid #FFF;
    border-radius: 3px 3px 0 0;
}
.leftPanelPanel h3 {
    display: block;
    overflow: hidden;
    color: #215DC6;
    background: #FFFFFF;
    background: -moz-linear-gradient(left, #FFFFFF 0%, #C7D3F7 100%);
    background: -webkit-linear-gradient(left, #FFFFFF 0%, #C7D3F7 100%);
    background: linear-gradient(to right, #FFFFFF 0%, #C7D3F7 100%);
    height: 20px;
    line-height: 18px;
    font-family: Trebuchet;
    padding-left: 13px;
    font-weight: 1000;
    margin: 0;
    font-size: 12px;
}
.twoPanelWindow .left{
    padding: 13px;
    /* width: 256px; */
    background: #7BA2E7;
    background: -moz-linear-gradient(top, #7BA2E7 0%, #6375D6 100%);
    background: -webkit-linear-gradient(top, #7BA2E7 0%, #6375D6 100%);
    background: linear-gradient(to bottom, #7BA2E7 0%, #6375D6 100%);
} 
.leftPanelPanel div {
    background-color: #D6DFF7;
    color: #215DC6;
}
.leftPanelPanel ul{
    list-style: none;
    padding: 5px 9px;
    margin: 0;
}
.leftPanelPanel ul li {
    line-height: 12px;
    margin: 14px 0;
    font-size: 14px;
}
.WhatDoIknow .header{
    
padding: 12px;
    
font-size: 20px;
    
font-weight: 700;
    
border-bottom: 1px solid #0000001f;
}
.right{
    overflow-y: scroll
}
.IknowBox{
    text-align: center;
}

    .IknowBoxImg{
    width: 78px;
    margin: 13px 0;
    }
    .iconContainer a:hover{
        text-decoration: none;
        cursor: default;
    }
    
  /* // Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) { 
    .hidden-xs{
        display: none!important;
    }
    #internetWindow {
        /* left: 32px; */
        /* margin-top: 28%; */
        /* width: 93%; */
        /* margin-left: -18%; */
        transform: translate(-125px, -19px);
    }
    .ie_inner {
        height: 400px;
    }
    ul.window_control {
        width: 92px;
        padding: 0px;
        /* height: 37px; */
    }
    #aboutMe ul.window_control {
        width: 26.9%;
        padding: 0px;
        height: 5.2%;
    }
    ul.window_control li.max a span {
        background-position: -204% 0;
    }
    
ul.window_control li a span {
    width: 139%;
    height: 18%;
}
.goldenDivider {
    width: 33em;
    height: 2em;
    margin-left: -53%;
}
#aboutMe{
    z-index: 3000;
    transform: translate(9px, 7px);
    width: 93%;
}
.toolbar a{
    max-width: 60px;
}
.wrapAddressInput{
    width: 60%;

}
.right{overflow-x: hidden;height: 435px;}
#Contact {
    transform: translate(17px, 52px);
    width: 100%;
}
#Contact .window_control {
    width: 25%;
    height: 6%;
}
.web_header .en {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    border-bottom: 1px;
    text-align: center;
}
.small, small {
    font-size: 62%;
    font-weight: 400;
}
.leftPanelPanel ul li {
    line-height: 18px;
}
.WhatDoIknow .header {

    font-size: 17px;
   }
   .greenGo {
    width: 65px
}
#notChrome{
    /* display: none; */
    opacity: 0.96;
    background-image: url(./assets/img/chromeUse.png);
    /* background-color: #000; */
    position:fixed;
    width:100%;
    height: 106%;
    top:0px;
    text-align: center;
    left:0px;
    z-index:1000000;
    padding: 64% 12%;
}
#notChrome .title{
    
font-size: 15px;
}
  }
  
  /* // Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {  }
  
  /* // Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) {  }
  
  /* // Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) {  }
  
  /* // Extra large devices (large desktops)
  // No media query since the extra-large breakpoint has no upper bound on its width */
